<p> {{date}} {{time.time}} </p>
<table>
    <tr>
        <td> 밥 </td>
        <td>{{time.rice}}</td>
    </tr>
    <tr>
        <td> 국 </td>
        <td>{{time.soup}}</td>
    </tr>
    <tr>
        <td> 메인반찬 </td>
        <td>{{time.maindish}}</td>
    </tr>
    <tr>
        <td> 사이드1 </td>
        <td>{{time.sidedish1}}</td>
    </tr>
    <tr>
        <td> 사이드2 </td>
        <td>{{time.sidedish2}}</td>
    </tr>
    <tr>
        <td> 사이드3 </td>
        <td>{{time.sidedish3}}</td>
    </tr>
    <tr>
        <td> 사이드4 </td>
        <td>{{time.sidedish4}}</td>
    </tr>
</table>

<!--<p> 아침 </p>-->
<!--<table>-->
    <!--<tr>-->
        <!--<td> 밥</td>-->
        <!--<td> {{today.breakfast.rice}}</td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td> 국</td>-->
        <!--<td> {{today.breakfast.soup}}</td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td> 메인 반찬</td>-->
        <!--<td> {{today.breakfast.maindish}}</td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td> 반찬1</td>-->
        <!--<td> {{today.breakfast.sidedish1}}</td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td> 반찬2</td>-->
        <!--<td> {{today.breakfast.sidedish2}}</td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td> 반찬3</td>-->
        <!--<td> {{today.breakfast.sidedish3}}</td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td> 반찬4</td>-->
        <!--<td> {{today.breakfast.sidedish4}}</td>-->
    <!--</tr>-->
<!--</table>-->

<!--<p> 점심 </p>-->
<!--<table>-->
    <!--<tr>-->
        <!--<td> </td>-->
        <!--<td> 한식 </td>-->
        <!--<td> 양식 </td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td> 밥</td>-->
        <!--<td> {{today.lunch1.rice}}</td>-->
        <!--<td> {{today.lunch2.rice}}</td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td> 국</td>-->
        <!--<td> {{today.lunch1.soup}}</td>-->
        <!--<td> {{today.lunch2.soup}}</td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td> 메인 반찬</td>-->
        <!--<td> {{today.lunch1.maindish}}</td>-->
        <!--<td> {{today.lunch2.maindish}}</td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td> 반찬1</td>-->
        <!--<td> {{today.lunch1.sidedish1}}</td>-->
        <!--<td> {{today.lunch2.sidedish1}}</td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td> 반찬2</td>-->
        <!--<td> {{today.lunch1.sidedish2}}</td>-->
        <!--<td> {{today.lunch2.sidedish2}}</td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td> 반찬3</td>-->
        <!--<td> {{today.lunch1.sidedish3}}</td>-->
        <!--<td> {{today.lunch2.sidedish3}}</td>-->
    <!--</tr>-->
<!--</table>-->

<!--<p> 저녁 </p>-->
<!--<table>-->
    <!--<tr>-->
        <!--<td> 밥</td>-->
        <!--<td> {{today.dinner.rice}}</td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td> 국</td>-->
        <!--<td> {{today.dinner.soup}}</td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td> 메인 반찬</td>-->
        <!--<td> {{today.dinner.maindish}}</td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td> 반찬1</td>-->
        <!--<td> {{today.dinner.sidedish1}}</td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td> 반찬2</td>-->
        <!--<td> {{today.dinner.sidedish2}}</td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td> 반찬3</td>-->
        <!--<td> {{today.dinner.sidedish3}}</td>-->
    <!--</tr>-->
<!--</table>-->