<ion-view view-title="주간식단">
  <ion-content>
    <div class="row">
      <li class="icon ion-chevron-left col col-33 center" ng-click="changeDate(false)"></li>
      <div class="col col-33 center">{{currentTime | date:'yyyy-MM-dd'}}</div>
      <li class="icon ion-chevron-right col col-33 center" ng-click="changeDate(true)"></li>
    </div>
    <ion-list>
      <div class="item item-divider">아침</div>
      <div class="row">
        <div class="col col-50">
          <div> [라면] </div>
          <div ng-show="mealDateMenu.meal.time=='morning'&&mealDateMenu.meal.category=='noodle'" ng-repeat="mealDateMenu in mealDateMenus"
                    href="#/app/playlists/{{playlist.id}}">
            <span ng-repeat="menu in mealDateMenu.menus" ng-click="openMenu(mealDateMenu)">
              {{menu.name}}<br>
            </span>
          </div>
        </div>
        <div class="col col-50">
          <div> [샐러드] </div>
          <div ng-show="mealDateMenu.meal.time=='morning'&&mealDateMenu.meal.category=='salad'" ng-repeat="mealDateMenu in mealDateMenus"
               href="#/app/playlists/{{playlist.id}}">
            <span ng-repeat="menu in mealDateMenu.menus" ng-click="openMenu(mealDateMenu)">
              {{menu.name}} ({{menu.category}}) <br>
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col col-50">
          <div> [Take-out] </div>
          <div ng-show="mealDateMenu.meal.time=='morning'&&mealDateMenu.meal.category=='takeout'" ng-repeat="mealDateMenu in mealDateMenus"
               href="#/app/playlists/{{playlist.id}}">
            <span ng-repeat="menu in mealDateMenu.menus" ng-click="openMenu(mealDateMenu)">
              {{menu.name}} ({{menu.category}}) <br>
            </span>
          </div>
        </div>
        <div class="col col-50">
          <div> [한식] </div>
          <div ng-show="mealDateMenu.meal.time=='morning'&&mealDateMenu.meal.category=='korean'" ng-repeat="mealDateMenu in mealDateMenus"
               href="#/app/playlists/{{playlist.id}}">
            <span ng-repeat="menu in mealDateMenu.menus" ng-click="openMenu(mealDateMenu)">
              {{menu.name}} ({{menu.category}}) <br>
            </span>
          </div>
        </div>
      </div>
      <div class="item item-divider">점심</div>
      <div class="row">
        <div class="col col-50">
          <div> [한식 (2층)] </div>
          <div ng-show="mealDateMenu.meal.time=='lunch'&&mealDateMenu.meal.category=='korean'"
               ng-repeat="mealDateMenu in mealDateMenus"
               href="#/app/playlists/{{playlist.id}}">
            <span ng-repeat="menu in mealDateMenu.menus" ng-click="openMenu(mealDateMenu)">
              {{menu.name}} ({{menu.category}}) <br>
            </span>
          </div>
        </div>
        <div class="col col-50">
          <div> [양식 (1층)] </div>
          <div ng-show="mealDateMenu.meal.time=='lunch'&&mealDateMenu.meal.category=='western'"
               ng-repeat="mealDateMenu in mealDateMenus"
               href="#/app/playlists/{{playlist.id}}">
            <span ng-repeat="menu in mealDateMenu.menus" ng-click="openMenu(mealDateMenu)">
              {{menu.name}} ({{menu.category}}) <br>
            </span>
          </div>
        </div>
      </div>
      <div class="item item-divider">저녁(2층)</div>
      <ion-item ng-show="mealDateMenu.meal.time=='dinner'" ng-repeat="mealDateMenu in mealDateMenus"
                href="#/app/playlists/{{playlist.id}}">
        <span ng-repeat="menu in mealDateMenu.menus" ng-click="openMenu(mealDateMenu)">
          {{menu.name}} ({{menu.category}}) <br>
        </span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
