<ion-modal-view class="modal-fullscreen">
  <ion-header-bar>
    <div class="title">
      <span class="center">{{mealDateMenu.date | date:'yyyy-MM-dd'}}</span>
      <span class="center" ng-if="mealDateMenu.meal.time=='morning'">아침</span>
      <span class="center" ng-if="mealDateMenu.meal.time=='lunch'">점심</span>
      <span class="center" ng-if="mealDateMenu.meal.time=='dinner'">저녁</span>
    </div>
    <div class="buttons">
      <button class="button button-clear text-white" ng-click="closeMenu()">Close</button>
    </div>
  </ion-header-bar>
  <div class="tabs" ng-if="mealDateMenu.meal.time=='morning'">
    <a class="tab-item" ng-click="changeMenu(menu, $index)" ng-repeat="menu in morningMealDateMenus"
       ng-class="{'tab-active' : tabIndex == $index}">
      {{menu.meal.category}}
    </a>
  </div>
  <div class="tabs" ng-if="mealDateMenu.meal.time=='lunch'">
    <a class="tab-item" ng-click="changeMenu(menu, $index)" ng-repeat="menu in lunchMealDateMenus">
      {{menu.meal.category}}
    </a>
  </div>
  <div class="tabs" ng-if="mealDateMenu.meal.time=='dinner'">
    <a class="tab-item" ng-click="changeMenu(menu, $index)" ng-repeat="menu in dinnerMealDateMenus">
      {{menu.meal.category}}
    </a>
  </div>
  <ion-content>
    <ion-list>
      <ion-item class="menu-item" ng-repeat="menu in mealDateMenu.menus">
        <div class="row">
          <div class="col col-20">
            <span ng-if="menu.category=='rice'">밥</span>
            <span ng-if="menu.category=='soup'">국</span>
            <span ng-if="menu.category=='maindish'">메인반찬</span>
            <span ng-if="menu.category=='sidedish'">밑반찬</span>
            <span ng-if="menu.category=='bread'">빵</span>
            <span ng-if="menu.category=='drink'">음료</span>
            <span ng-if="menu.category=='fruit'">과일</span>
            <span ng-if="menu.category=='noodle'">면</span>
            <span ng-if="menu.category=='salad'">샐러드</span>
          </div>
          <div class="col col-10"></div>
          <div class="col col-70">{{menu.name}}</div>
        </div>
      </ion-item>
    </ion-list>
    <div class="item item-divider">댓글</div>
    <ion-item class="menu-item" ng-repeat="comment in mealDateMenu.comments">
      <div class="row">
        <div class="col col-20">{{comment.user.nickname}}</div>
        <div class="col col-5"></div>
        <div class="col col-50" ng-show="editStatus==0">{{comment.content}}</div>
        <div class="col col-50" ng-show="editStatus==1">
          <form ng-submit="editComment()">
            <label class="item-input-wrapper">
              <input type="text" class="edit-comment-input" placeholder="댓글 입력" ng-model="comment.content">
            </label>
          </form>
        </div>
        <div class="col col-5">
          <span class="icon ion-edit" ng-show="comment.userId == $root.user.id && editStatus==0"
                ng-click="editStatus=1"></span>
        </div>
        <div class="col col-5">
          <span class="icon ion-close-round" ng-show="comment.userId == $root.user.id && editStatus==0"
                ng-click="deleteComment(comment)"></span>
          <button class="button button-small" ng-show="editStatus==1" ng-click="editComment(comment); editStatus=0">
            등록
          </button>
        </div>
        <div class="col col-5"></div>
      </div>
    </ion-item>
    <form class="item item-input-inset" ng-submit="doComment()" ng-disabled="loadingComments">
      <label class="item-input-wrapper">
        <input type="text" placeholder="댓글 입력" ng-model="commentData.content" ng-disabled="loadingComments">
      </label>
      <button class="button button-small" ng-disabled="loadingComments" type="submit">
        등록
      </button>
    </form>
  </ion-content>
</ion-modal-view>
