<ion-view view-title="주간식단">
  <ion-content>
    <div class="row">
      <input type="file" file-reader="fileContent"/>
    </div>
    <div>
      <ion-list>
        <ion-item ng-repeat="(key1, value1) in fileContent track by $index">
          Date : {{key1}}
          <div ng-repeat="(key2, value2) in value1 track by $index">
            {{key2}}
            <div ng-repeat="(key3, value3) in value2 track by $index">
              <div ng-if="isObject(value3) == 1">
                {{key3}}
                <div ng-repeat="(key4, value4) in value3 track by $index">
                  {{key4}}
                  <div ng-if="isObject(value4) == 1">
                    <div ng-repeat="v in value4">
                      {{v}}
                    </div>
                  </div>
                  <div ng-if="isObject(value4 == 0)">
                    {{value4}}
                  </div>
                </div>
              </div>
              <div ng-if="isObject(value3) == 0">
                {{key3}} : {{value3}}
              </div>

            </div>
          </div>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
