/* Empty. Add your own CSS if you like */
.center {
  margin: auto;
  width: 80%;
  text-align: center;
}

.menu-item {
  padding: 5px;
}

.tab-active{
  font-weight: bold;
}

.disabled {
  background-color: #f8f8f8;
}

.edit-user-warning {
  color: red;
  margin: 5px;
}
