/* Empty. Add your own CSS if you like */
.center {
  margin: auto;
  margin-top: 5px;
  width: 80%;
  text-align: center;
}

.menu-item {
  padding: 5px;
}

.tab-active {
  font-weight: bold;
  color: #f3ba07;
  font-size: 16px;
}

.disabled {
  background-color: #f8f8f8;
}

.edit-user-warning {
  color: red;
  margin: 5px;
}

.cursor-pointer {
  cursor: pointer;
}

.edit-comment-input {
  background-color: #eee;
}

.modal-fullscreen {
  width: 100% !important;
  height: 100%;
  top: 0 !important;
  left: 0 !important;
}

.text-white {
  color: white;
}

.sidebar-divider {
  background-color: #373946;
  color: #adadad;
  font-size: 14px;
  border: none;
}

.sidebar-item .item {
  border: none;
}

.item-content, .sidebar-item .item-content {
  background-color: #494c5d;
  color: white;
  font-size: 16px;
}

.sidebar-item .activated.activated.activated {
  background-color: #494c5d;
}

.main-color {
  background-color: #fad04c;
  color: #3b3b3b;
}

.header-bar, .header-bar ion-header-bar {
  background-color: #fad04c;
}

.header-bar .button.button {
  color: #3b3b3b;
}

.header-bar .title {
  color: #3b3b3b;
}

.header-bar .center.center {
  text-align: center;
}
